.navbar {
  display: flex;
  justify-content: space-between;
  background-color: #1D252C;
  padding: 1em;
  
}

.list {
  display: flex;
  list-style: none;
  align-items: center;
  gap: 30px;
}

.item {
  margin-right: 1em;
  text-transform: uppercase;
  font-weight: bold;
}

.item a {
  color: #FFF;
  text-decoration: none;
}

.item a:hover {
  color: #FFBB33;
}

